.container {
  max-width: 500px; /* Limit the width of the form */
  margin: 0 auto; /* Center the form */
}

.btn-block {
  width: 100%; /* Full-width button */
}

.form-control {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

select.form-control {
  cursor: pointer;
}
