<section class="contact-area" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 text-center">
                <div class="contact-content">
                    <a href="#"><img src="assets/images/plantlg.png" alt="logo" class="img-fluid mb-4"></a>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum.
                    </p>
                    <hr class="my-4">
                    <h6>1120 Lorem ipsum dolor sit amet, KC 179050, Chandigarh.</h6>
                    <h6>+01 2345 6789 12<span class="mx-2">|</span>+01 2345 6789 12</h6>
                    <div class="contact-social mt-4">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="hover-target" href="#">
                                    <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="hover-target" href="#">
                                    <fa-icon [icon]="['fab', 'github']"></fa-icon>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="hover-target" href="#">
                                    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="hover-target" href="#">
                                    <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>  